
Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

choco install manimce

choco install manim-latex

choco install vscode
pip install tkvideo

SPlendidnom
manim -pql Example.py TransparentCircleScene
manim -pql example.py ExampleScene -s -o frames_folder
ffmpeg -i media/images/example/480p15/frames_folder/frame_%04d.png
ffmpeg -i input_video.mp4 frames_folder/frame_%04d.png
ffmpeg -i C:/Downloads/ManimDemo/media/videos/example/480p15/AnimatedSquareToCircle.mp4 C:/Downloads/ManimDemo/Animate_%04d.png

VR0FCSSESB8C 5AXWBGCHTXW8 T5Z068KX6C85 PMD5P19Q1FMN 2PZXAB7BREAC ANZ62ND88BR2 HCGD0H6VNKX9 2P2CH166QDQ2 NRE50YSZW32B 8SD38SFTEYCQ